body{
    font-family: Helvetica,Arial,sans-serif;

}
roster,
board
{
    display: block;
    max-width:100%;
    max-height: 100%;
    position: relative;
}


board > character {
    font-family: arial, sans-serif;
    text-align: center;
    padding: 0px;
    position: absolute;
    border: 1px solid;
    margin: 0px;
    width: 38px;
    height: 40px;
    display: block;

    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.05s;

    color:transparent;
}
board > character > icon{
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -18px;
}
board > character > icon > img.emojione{
    width: 40px;
    height: 40px;
}
board > character:before{

}


board > tile{
    font-family: arial, sans-serif;
    text-align: center;
    padding: 0px;


    position: absolute;
    border: 1px solid;
    margin: 0px;
    width: 40px;
    height: 40px;
    color: transparent;
}



roster > tile,
roster > character
{
    font-family: arial, sans-serif;
    text-align: center;
    padding: 0px;
    padding-top: 2px;

    position: absolute;
    border: 1px solid;
    margin: 0px;
    width: 30px;
    height: 32px;
    overflow: hidden;

    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.05s;

    background-color: white;
}

roster > character > icon{
    width:16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -12px;
    display: block;
}
roster > character > icon > img{
      width:16px;
    height: 16px;
    display: block;

}

roster > tile.free{
    background-color: yellow;
}
roster > tile.free:before{
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 8px;
    top: -10px;
    left: 10px;
    background: #ddd;
    transform: rotateZ(45deg);

    animation: freebefore 1.2s  infinite;
    -webkit-animation: freebefore 1.2s infinite;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}

@keyframes freebefore {
    0% { height:2px; top: -10px; left:10px; background-color:rgba(0,0,0,0.6); }
    100% { height:8px; top: 40px; left:-20px; background-color:rgba(0,0,0,0.0); }
}
roster > character.disabled {
    color: red;
}

board > svg > polyline.ground
{
    fill: rgba(150, 250, 100, 0.3);
}

board > svg > polyline.water
{
    fill: rgba(86, 178, 241, 0.3);
}

board > svg > polyline.mountain
{
    fill: rgba(88, 51, 51, 0.3);
}

board > character > health {
    display: block;
    font-size: 8px;
}
roster > tile {
    background-color: lightgray;
}
army > character
{
    display:block;
    color: lightgrey;
}
army > character.selected
{
    background-color: yellow;
}
army > character.active
{
    color:#000;
}
army > character.disabled
{
    color:red ;
}
army > character.active.disabled
{
    color:red;
}
army > character > level
{
    margin: 5px;
    font-size: 9px;
    white-space: nowrap;
}
army > character > experience
{
    display: block;;
    margin: 5px;
    font-size: 9px;
    white-space: nowrap;
}
clear
{
    clear: both;
}
.player,.Felipe
{
    background: #BB90DD;
}
.Felipe:before{
    border-bottom-color: #BB90DD !important;
}
.Felipe:after{
    border-top-color: #BB90DD !important;
}
.enemy,.Enemy
{
    background: #FFBB90;
}
.Enemy:before{
    border-bottom-color: #FFBB90 !important;
}
.Enemy:after{
    border-top-color: #FFBB90 !important;
}

.out-of-roster{
    opacity: 0.8;
}

#meta{
    position: absolute;
    bottom: 160px;
    right: 20px;
    width: 30px;
    font-size: 10px;
    background-color: #333;
    color: #fff;
    padding: 6px 4px;
    text-align: center;
}

#actions{
    color: #fff;
    position: absolute;
    bottom: 160px;
    left: 10px;
    height: 12px;
    text-align: center;
    font-size: 12px;
    background-color:#333;
    padding: 6px 12px;
    line-height: 12px;
    opacity: 0.2;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
#actions:hover{
    opacity: 1;
}
#actions > a{
    color: #dddddd;
    text-decoration: none;
}



@media (min-width: 1024px) {
    body{
        padding-bottom: 200px;
    }
    #board{
        width: 100%;
        display: block;
        position: relative;
    }
    #board > board{
        margin:0 auto;
    }
    #map{
        margin-bottom: 60px;
    }
    #toolbar{
        position: fixed;
        width:100%;
        left:0px;
        right: 0px;
        bottom: 0px;
        height: 140px;
        background-color: rgba(255,255,255,0.8);
        border-top: 2px solid #eee;
        padding: 5px 10px 10px;
        z-index: 200;
        transition:all 1s;
        -webkit-transition:all 1s;
    }

    #toolbar-react{
        position: fixed;
        width:100%;
        left:0px;
        right: 0px;
        top: 0px;
        height: 140px;
        background-color: rgba(255,255,255,0.8);
        border-top: 2px solid #eee;
        padding: 5px 10px 10px;
        z-index: 200;
        transition:all 1s;
        -webkit-transition:all 1s;
    }
    #toolbar.blocked{
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    #roster{
        width: 140px;
        height: 200px;
        float: left;
        clear: left;
    }

    roster{
        width: 230px;
        overflow: hidden;
        float: left;
        zoom:60%;
        margin-top: 5px;
        position: absolute;
        top: 0px;
        left: 20px;
        z-index: 10;
    }
    #toolbar #tools{
        float: left;
        margin-left:160px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 100%;
        z-index: 8;
        overflow: scroll;
        box-sizing: border-box;
    }
    #toolbar-react #tools{
        float: left;
        margin-left:160px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 100%;
        z-index: 8;
        overflow: scroll;
        box-sizing: border-box;
    }
    #toolbar #tools #player-data{
        float: left;
        width: 100%;
        clear: both;
        display: inline-block;
        padding: 8px 0px 4px 5px;
    }
    #player-data name{

    }
    #player-data resource{
        float: left;
        display: block;
        color: #BBBB02;
        padding: 0px 8px;
    }
    #army{
        float:left;
        clear: right;
        width: 1000%;
    }
    roster > character > experience ,roster > character > name,roster > character > level,
    roster > character > health > current,roster > character > health > max
      {
        display: none;
    }
    #army-2{
        float:left;
        clear: right;
        width: 1000%;
    }


    army > character{
        width:80px;
        height: 80px;
        padding: 10px;
        margin: 5px;
        background-color: #eee;
        display: block;
        float: left;
        position: relative;
        font-size:12px;
    }
    army > character > * {
        display: block;
    }

    army > character > experience {
        font-size: 9px;
    }
    army > character > health{
        position: absolute;
        bottom: 5px;
        left: 5px;
        width:90px;
        text-align: right;
        font-size:12px;

    }
    army > character > health > current::after{
        display: inline-block;
        content: " / ";
    }
    army > character > health > bar{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color:#E2133F;
        bottom: -2px;
        right: 0px;
    }
    army > character > icon{
        width: 24px;
        height: 24px;
    }
    army > character > icon > img.emojione{
        display: block;
        width:24px;
        height: 24px;
    }

    heroesnode:hover  tooltip {
        display: block;
    }

    heroesnode.unaccessible army.mini, heroesnode.unaccessible:hover tooltip {
        display: none;
    }

    tooltip
    {
        display: none;
        z-index: 1;
        width: 104px;

        line-height: 20px;
        margin-left: -36px;
        color: #fff;
        background-color: #000;
        position: absolute;
        text-align: center;
        padding-top: 4px;
        padding: 4px 2px 0px;
        top: 53px;
    }
    tooltip:before {

        content: "";
        border-bottom: 10px solid #000000;
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -10px;
        left: 46px;
    }
    tooltip > army.mini > character
    {
        width: 18px !important;
        height: 18px !important;
        padding: 2px;
        float: none;
        display: inline-block;
        margin: 2px;
    }
    tooltip > army.mini > character > icon
    {
        margin-left: -10px;
        margin-top: -10px;
        width: 18px !important;
        height: 18px !important;
    }
    tooltip > army.mini > character > icon > img.emojione{
        width:16px;
        height: 16px;
    }
    state
    {
        background-color:#7CC74B;
        max-width: 100%;
        display: block;
        position: absolute;
        left: 0px;
        top:0px;
        bottom: 0px;
        height: 2px;

    }

    .hexagon {
      width: 35px;
      height: 40px;
      margin: 12.5px 0;
      display: block;
    }

    .hexagon:before,
    .hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
    }

    .hexagon:before {
      bottom: 100%;
      border-bottom-width: 12.5px ;
      border-style: solid;
      margin-left: -20px;
    }

    .hexagon:after {
      top: 100%;
      width: 0;
      border-top-width: 12.5px ;
      border-style: solid;
      margin-left: -20px;
    }



}
