#info {
    position: absolute;
    top:0;
    left:0;
}

heroesmap
{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
}
heroesnode,
heroeslink
{
    font-family: arial, sans-serif;
    text-align: center;
    padding: 0px;

    position: absolute;
    margin: 0px;
    width: 40px;
    height: 40px;
    display: block;

    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.05s;

    background-color: gray;
}
heroesnode
{
    border: 1px solid;
}
heroeslink
{
    border: 5px solid white;
    background-color: lightgray;
}
heroeslink.accessible
{
    background-color: lightgreen;
}
heroesnode.accessible
{
    background-color: green;
}
heroesnode.unlocked
{
    background-color: lightblue;
}


@media (min-width: 1024px) {
  #map{
    width:800px;
    margin:0 auto;
    position: relative;
  }
  heroesnode{
    cursor: not-allowed;
    line-height: 40px;
  }

  heroesnode.accessible {
    cursor: pointer;
  }

  heroesnode.accessible:after{
    content: "";
    border-top: 10px solid green;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 10px;


    animation: pickme 0.6s  infinite;
    -webkit-animation: pickme 0.6s infinite;
    animation-timing-function: ease-out;
    animation-fill-mode:both;

  }

     /* Animation Keyframes*/
    @keyframes pickme {
        0% { top: -10px; }
        50% { top: -30px; }
        100% { top: -11px; }
    }
   heroesnode.unlocked:hover {
    background-color: #C6E2CA;
  }
}

resources {
    display: block;
}

resource {
    padding: 4px;
    background-color: rgba(0,0,0,0.5);
}

resource.resource_gold {
    color:yellow;
}
resource.resource_animal {
    color:red;
}
resource.resource_human {
    color:blue;
}
resource.resource_wood {
    color:#FFB775;
}
